





.seemore-container .content-container{
    width: 100%;
    max-width: 1300px;
    height: auto;
    margin-top: 100px;
    
    display: flex;
    flex-direction: column;
}

.seemore-container .row-1{
    width: 100%;
    max-width: 1300px;
    height: 468px;
    margin-top: 50px;

    display: flex;
}

.seemore-container .row-1 .img{
    width: 50%;
    height: 100%;
}

.seemore-container .row-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seemore-container .row-1 .text-container-container{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.seemore-container .row-1 .text-container{
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.seemore-container .text-container .title-box{
    width: 100%;
    height: auto;
    padding: 20px 0;

    color: #f0f0f0;
    font-size: 3em;
    font-weight: 500;
    font-family: 'Roboto';
}

.seemore-container .text-container .description{
    width: 100%;
    height: auto;
    padding: 20px 0;

    line-height: 26px;

    color:rgba(161, 161, 161, 0.7);
    font-size: 1em;
    font-weight: 400;
    font-family: 'Roboto';
}



.seemore-container .row-2{
    width: 100%;
    max-width: 1300px;
    height: 468px;
    margin-top: 50px;

    display: flex;
    flex-direction: row-reverse;
}

.seemore-container .row-2 .img{
    width: 50%;
    height: 100%;
}

.seemore-container .row-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seemore-container .row-2 .text-container-container{
    width: 50%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.seemore-container .row-2 .text-container{
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}