.main-container {
  width: 100%;
  height: 100vh;
  height: 90dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container{
  text-align: center;
}

.main-container .header{
  color: #f0f0f0;;
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 50px;
}

.card-container{
  width: 70%;
  height: 60%;

  display: flex;
}

.card-container .left-section, .card-container .right-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container .costumer-card{
  border-radius: 20px;
  width: 100%;
  height: 20vh;
  padding: 20px;

  transition: .3s ease-in-out;
}

.costumer-card:hover{
  scale: 1.1;
}

.profile-section{
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
}

.costumer-card .profile-picture{
  width: 50px;
  height: 50px;
  border: 1px solid  #969696;
  border-radius: 50%;
}

.customer-name{
  color: #f0f0f0;
  font-size: 1.3em;
  font-weight: 600;
  padding: 20px;
}

.testimony{
  width: 100%;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.testimony p{
  color:  #969696;
  font-size: 1em;
  line-height: 1.4em;
  padding-left: 100px;
}


@media screen and (max-width: 1440px) {
  .card-container .costumer-card{
    border-radius: 20px;
    width: 100%;
    height: 30vh;
    padding: 20px;
  
    transition: .3s ease-in-out;
  }
}



@media screen and (max-width: 1366px) {
  .main-container {
    width: 100%;
    height: 100vh;
    height: 90dvh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-container{
    text-align: center;
  }
  
  .main-container .header{
    color: #f0f0f0;;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 50px;
  }
  
  .card-container{
    width: 70%;
    height: 60%;
  
    display: flex;
  }
  
  .card-container .left-section, .card-container .right-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-container .costumer-card{
    border-radius: 20px;
    width: 100%;
    height: 20vh;
    padding: 20px;
  
    transition: .3s ease-in-out;
  }
  
  .costumer-card:hover{
    scale: 1.2555;
  }
  
  .profile-section{
    width: 100%;
    height: 20%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
  }
  
  .costumer-card .profile-picture{
    width: 50px;
    height: 50px;
    border: 1px solid  #969696;
    border-radius: 50%;
  }
  
  .customer-name{
    color: #f0f0f0;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px;
  }
  
  .testimony{
    width: 100%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimony p{
    color:  #969696;
    font-size: .85em;
    line-height: 1.5em;
    padding-left: 100px;
  }
  
  
}







@media screen and (max-width: 1024px) {
  .main-container {
    width: 100%;
    height: 100vh;
    height: 90dvh;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-container{
    text-align: center;
  }
  
  .main-container .header{
    color: #f0f0f0;;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 50px;
  }
  
  .card-container{
    width: 100%;
    height: 60%;
  
    display: flex;
  }
  
  .card-container .left-section, .card-container .right-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-container .costumer-card{
    border-radius: 20px;
    width: 100%;
    height: 20vh;
    padding: 20px;
  
    transition: .3s ease-in-out;
  }
  
  .costumer-card:hover{
    scale: 1.1;
  }
  
  .profile-section{
    width: 100%;
    height: 20%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
  }
  
  .costumer-card .profile-picture{
    width: 50px;
    height: 50px;
    border: 1px solid  #969696;
    border-radius: 50%;
  }
  
  .customer-name{
    color: #f0f0f0;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px;
  }
  
  .testimony{
    width: 100%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimony p{
    color:  #969696;
    font-size: .85em;
    line-height: 1.5em;
    padding-left: 100px;
  }
  
}






@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-container{
    text-align: center;
  }
  
  .main-container .header{
    color: #f0f0f0;;
    font-size: 1.6em;
    font-weight: 600;
    padding: 50px;
  }
  
  .card-container{
    width: 100%;
    height: 60%;
  
    display: flex;
    flex-direction: column;
  }
  
  .card-container .left-section, .card-container .right-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-container .costumer-card{
    border-radius: 20px;
    width: 100%;
    height: 20vh;
    padding: 20px;
  
    transition: .3s ease-in-out;
  }
  
  .costumer-card:hover{
    scale: 1.1;
  }
  
  .profile-section{
    width: 100%;
    height: 20%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
  }
  
  .costumer-card .profile-picture{
    width: 40px;
    height: 40px;
    border: 1px solid  #969696;
    border-radius: 50%;
  }
  
  .customer-name{
    color: #f0f0f0;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px;
  }
  
  .testimony{
    width: 100%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimony p{
    color:  #969696;
    font-size: .85em;
    line-height: 1.5em;
    padding-left: 100px;
  }
  
}






@media screen and (max-width: 425px) {
  .main-container {
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-container{
    text-align: center;
  }
  
  .main-container .header{
    color: #f0f0f0;;
    font-size: 1.6em;
    font-weight: 600;
    padding: 50px 0 50px 0;
  }
  
  .card-container{
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
  }
  
  .card-container .left-section, .card-container .right-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-container .costumer-card{
    border-radius: 20px;
    width: 100%;
    height: 26vh;
    padding: 20px;
  
    transition: .3s ease-in-out;
  }
  
  
  .profile-section{
    width: 100%;
    height: 20%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .costumer-card .profile-picture{
    width: 50px;
    height: 50px;
    border: 1px solid  #969696;
    border-radius: 50%;
  }
  
  .customer-name{
    color: #f0f0f0;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px;
  }
  
  .testimony{
    width: 100%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimony p{
    color:  #969696;
    font-size: .85em;
    line-height: 1.5em;
    padding: 30px 0 30px 0;
    text-align: center;
  }
  
}







@media screen and (max-width: 320px) {
  .main-container {
    width: 100%;
    height: auto;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .header-container{
    text-align: center;
  }
  
  .main-container .header{
    color: #f0f0f0;;
    font-size: 1.4em;
    font-weight: 600;
    padding: 50px 0 50px 0;
  }
  
  .card-container{
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
  }
  
  .card-container .left-section, .card-container .right-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-container .costumer-card{
    border-radius: 20px;
    width: 100%;
    height: 35vh;
    padding: 20px;
  }
  

  .profile-section{
    width: 100%;
    height: 20%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 20px 0;
  }
  
  .costumer-card .profile-picture{
    width: 35px;
    height: 35px;
    border: 1px solid  #969696;
    border-radius: 50%;
  }
  
  .customer-name{
    color: #f0f0f0;
    font-size: 1.3em;
    font-weight: 600;
    padding: 20px;
  }
  
  .testimony{
    width: 90%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimony p{
    color:  #969696;
    font-size: .85em;
    line-height: 1.5em;
   
    text-align: center;
  }
  
}